body {
  font-size: 3vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: none;
  border-bottom: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2vw 4vh;
  text-decoration: none;
}
li a:hover:not(.active){
  border-bottom: 4px solid grey;
}
.active {
  color: black;
  border-bottom: 4px solid rgb(0, 200, 255);
}
.headerContainer {
  display: block;
  background-color: #333;
  border: 1.5px solid rgb(100, 100, 100);
}
.SocialBar{
  height:25px;
  border: 1.5px solid rgb(100, 100, 100);
}
.location{
  background: transparent;
  border: none;
  float: right;
}
.topBar{
  border: 1.5px solid rgb(100, 100, 100);
  border-top: 0;
}
.title {
  margin-top: 0;
}
.search {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background: transparent;
  border: none;
}
