body {
  font-size: 3vh;
  background-image: url(Bricks.png);
}
.navigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: none;
  border-bottom: none;
}
.navigationBar li {
  float: left;
}
.navigationBar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2vw 4vh;
  text-decoration: none;
  border-bottom: 4px solid white;
}
.navigationBar li a:hover{
  border-bottom: 4px solid grey;
}
.headerContainer {
  background-color: #FFF;
  display: block;
  background-color: #333;
  border: 1.5px solid rgb(100, 100, 100);
}
.SocialBar{
  background-color: #FFF;
  height:25px;
  border: 1.5px solid rgb(100, 100, 100);
}
.location{
  background: transparent;
  border: none;
  float: right;
}
.topBar{
  background-color: #FFF;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: 0;
}
.title {
  margin-top: 0;
}
.invis{
  float: right;
  padding:0;
  margin-right: 2px;
  margin-top:0;
  background: transparent;
  border: none;
}
.ScrollingGallery{
  background-color: #FFF;
  height:300px;
  border: 1.5px solid rgb(100, 100, 100);
}
.Picture{
  background-color: #FFF;
  height:300px;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: none;
}
.Quote{
  background-color: #FFF;
  height:300px;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: none;
}
.Contact{
  background-color: #FFF;
  height:300px;
  border: 1.5px solid rgb(100, 100, 100);
  border-top: none;
}
.sidenav {
    width: 100px;
    position: fixed;
    z-index: 1;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    top: 70%;
    right: 0;
    background-color: rgba(0, 200, 255, 0.7);
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a {
    padding: 0px 0px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #AAA;
}
